.about {
    position: relative;
    top: 0;
    width: 70%;
    margin: 0 auto 0 auto;
    z-index: 1;
    user-select: none;
    height: 100vh;
    overflow: hidden;

}
.fixed-div{
    height: 6vw;
}
.fixed-div > h1 {
    font-size: 3vw;
}

@media (max-width:768px){
    .fixed-div:first-child{
        height:50px;
        top:40%;
    }
    .fixed-div{
        height:90px;
    }
    .fixed-div > h1  {
        font-size: 27px;
    }
}

.about>div {
    position: relative;
    top: 130px;
}

@media (max-width:768px) {
    .about>div {
        position: relative;
        top: 7%;
        font-size: small;
    }
}

.changeColorLetter:hover {
    font-family: 'Courier New', Courier, monospace;
    color: #1BA098;
    cursor: pointer;
}

.arrow-down{
    cursor: pointer;
    filter: invert(100%);
  -webkit-filter: invert(100%);
    width: 100px;
    height: auto;
    animation: bounce 1.5s infinite; 
    -webkit-animation: bounce 1.5s infinite; 
    -moz-animation: bounce 1.5s infinite; 
    -o-animation: bounce 1.5s infinite; 
}