.about{
    position: relative;
    top:0;
    width: 50%;
    margin: 0 auto 0 auto;
    z-index: 1;
    user-select: none;
    height: 100vh;
    overflow: hidden;
}
.about > div {
    position: relative;
    top:150px;
}

@media (max-width:768px){
    .about > div {
        position: relative;
        top:30px;
        font-size: small;
    }
}

.changeColorLetter:hover{
    font-family: 'Courier New', Courier, monospace;
    color: #1BA098;

}
