body{
    overflow-x:hidden;   /* to cancel scroll on animation */
}
.projects{
    background-color: #051622;
    height: 100vh;
    margin: 0;
    
}

.headline {
    overflow:hidden;  
    height: 110px;
    color: white;
    margin-bottom: 30px;
    position: relative;
    bottom: 50px;
}
.headline > h2 {
    position: relative;
    top:25%;
}
.headline > p {
    font-family: 'Courier New', Courier, monospace;
    color: #1BA098;
}



.projects > div {
    position: relative;
    top:20%;
}



.slider{
    cursor: grab;
    margin: 0 auto 0 auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    height: 40vh;
    overflow: scroll;
}
.slider:active{
    cursor: grabbing;
}

@media (max-width:768px){
    .slider {
        width: 100%;
    }
}


.box{
    position: relative;
    background-color: rgb(23, 160, 152);
    min-width:40%;
    height: 100%;
    margin: 0 10px 0 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box > img {
    height: 100%;
    z-index: 1;
}

.box-tile{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    text-align: center;
}



.tile-img{
    width: 100%;
    text-align: center;
    font-size: 30px;
    
}
.tile-img > span {
    padding: 5%;
    color: var(--main-color);
    
}
.tile-img > span:hover{
    cursor: pointer;
    color:var(--secondary-color)
}